{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_container %}
    {{ parent() }}

    {% block buy_widget_buy_container_pdf_datasheet %}
        <div class="d-grid gap-2 mt-3">
            <a href="{{ path('frontend.pdf_datasheet.get', { 'productNumber': product.productNumber, 'slug': (product.translated.name|pdf_slugify) }) }}"
               class="btn btn-outline-secondary"
               target="_blank"
               title="{{ 'TopdataPdfDatasheetSW6.buttonLabel'|trans }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf me-2" viewBox="0 0 16 16">
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                  <path d="M4.603 12.087a.81.81 0 0 1-.438-.42c-.046-.083-.053-.175-.053-.264 0-.102.044-.206.12-.284c.08-.082.208-.137.364-.137c.18 0 .378.077.564.214c.244.18.472.463.646.777l.08.148c-.282.022-.547.043-.787.066a7.99 7.99 0 0 1-.496.002zm1.838-1.64c.01-.01.018-.022.024-.031a.143.143 0 0 1 .017-.023c.112-.163.264-.42.363-.736c.095-.303.145-.617.145-.874c0-.284-.1-.581-.314-.73c-.114-.08-.256-.113-.384-.09c-.118.02-.224.085-.3.184c-.087.112-.133.277-.133.475c0 .38.15.8.38 1.194l.054.094c-.076.2-.164.405-.26.612c-.297.614-.643 1.178-.996 1.484l-.073.058c-.147.105-.352.184-.54.184c-.017 0-.033 0-.05-.002c-.07.012-.15.022-.24.03l-.04.004a.735.735 0 0 1-.334-.04c-.115-.045-.205-.133-.255-.246a.51.51 0 0 1-.035-.164c0-.134.036-.264.103-.38c.08-.142.204-.265.367-.356c.18-.1.408-.163.666-.188l.142-.012c.213-.42.435-.858.653-1.28c.117-.225.23-.45.337-.672c-.115-.408-.18-.832-.18-1.258c0-.393.07-.733.213-.984c.142-.25.358-.4.62-.436a.65.65 0 0 1 .376.046c.214.09.356.28.406.52c.046.223.01.492-.102.766a4.246 4.246 0 0 1-.48 1.054a10.022 10.022 0 0 1-.603 1.026c-.024.032-.05.066-.076.1c.365.2.73.435 1.08.703c.364.276.69.59 1.02.94a.513.513 0 0 1 .018-.002c.12-.018.252-.016.368.01a.543.543 0 0 1 .306.18c.085.105.117.226.117.343c0 .12-.036.242-.1.343a.591.591 0 0 1-.264.225c-.14.055-.306.06-.474.015c-.13-.035-.26-.1-.384-.185c-.24-.165-.48-.415-.71-.7l-.11-.143a5.21 5.21 0 0 1-.168-.22zm-1.803-1.428c.28-.24.568-.526.837-.84l-.066-.118a3.25 3.25 0 0 0-.416-.62a3.896 3.896 0 0 0-.306-.343a4.137 4.137 0 0 0-.083 1.043c.01.294.01.594.034.878zM11.578 13.7l.026-.007a.262.262 0 0 0 .1-.065a.157.157 0 0 0 .044-.092c.002-.03-.004-.063-.02-.09a.127.127 0 0 0-.065-.054a.17.17 0 0 0-.083-.007c-.113.012-.24.026-.37.042c.15.113.276.2.363.266z"/>
                </svg>
                {{ 'TopdataPdfDatasheetSW6.buttonLabel'|trans }}
            </a>
        </div>
    {% endblock %}
{% endblock %}
